<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rnb.newbase.security.persistent.mapper.SystemUserMapper">

    <sql id="conditionColumn">
        <if test="null!=id">
            AND `id` = #{id}
        </if>
        <if test="null!=username">
            AND `username` = #{username}
        </if>
        <if test="null!=enabled">
            AND `enabled` = #{enabled}
        </if>
    </sql>

    <sql id="setColumn">
        <if test="null!=secret">
            `secret` = #{secret},
        </if>
        <if test="null!=secretExpired">
            `secret_expired` = #{secretExpired},
        </if>
        <if test="null!=secretLocked">
            `secret_locked` = #{secretLocked},
        </if>
        <if test="null!=enabled">
            `enabled` = #{enabled},
        </if>
        <if test="null!=lastLoginTime">
            `last_login_time` = #{lastLoginTime},
        </if>
    </sql>

    <sql id="baseColumn">
        `id`,`username`,`secret`,`secret_expired`,`secret_locked`,`enabled`,`last_login_time`,`create_time`,`modify_time`
    </sql>

    <sql id="tableName">`system_user`</sql>

    <resultMap id="resultMap"  type="com.rnb.newbase.security.persistent.entity.SystemUser">
        <id column="id" property="id" />
        <result column="username" property="username"/>
        <result column="secret" property="secret" />
        <result column="secret_expired" property="secretExpired" />
        <result column="secret_locked" property="secretLocked" />
        <result column="enabled" property="enabled" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="create_time" property="createTime" />
        <result column="modify_time" property="modifyTime" />
    </resultMap>

    <insert id="insert" parameterType="com.rnb.newbase.security.persistent.entity.SystemUser" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="tableName"/> (
        `username`
        ,`secret`
        ,`create_time`
        ) values (
        #{username}
        ,#{secret}
        ,now()
        )
    </insert>

    <update id="update">
        update
        <include refid="tableName"/>
        <set>
            <include refid="setColumn"/>
        </set>
        where
        `id` = #{id}
    </update>

    <select id="queryById" resultMap="resultMap">
        select
        <include refid="baseColumn" />
        from
        <include refid="tableName"/>
        where
        `id` = #{id}
    </select>

    <select id="queryListByCondition" resultMap="resultMap">
        SELECT <include refid="baseColumn" />
        FROM <include refid="tableName"/>
        <where>
            <include refid="conditionColumn"/>
        </where>
        order by
        `id`
    </select>

    <delete id="deleteUserRole">
        DELETE FROM `system_user_role`
        WHERE `user_id` = #{userId}
    </delete>

    <insert id="insertUserRole">
        INSERT INTO `system_user_role` (
            `user_id`
            ,`role_id`
            ,`create_time`
        ) VALUES (
            #{userId}
            ,#{roleId}
            ,now()
        )
    </insert>

    <select id="queryUsers" resultMap="resultMap">
        SELECT <include refid="baseColumn" />
        FROM <include refid="tableName"/>
        <where>
            <include refid="conditionColumn" />
            <if test="null!=roleId">
                AND `id` IN (
                    SELECT `system_user_role`
                    WHERE `role_id` = #{roleId}
                )
            </if>
        </where>
    </select>
</mapper>