<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rnbbusiness.demo.dao.test1.Test1UserMapper">
    <resultMap id="Test1UserResultMap" type="com.rnbbusiness.demo.dao.test1.Test1User">
        <id column="id" property="id" />
        <result column="name" property="name" />
    </resultMap>

    <select id="selectAll" resultMap="Test1UserResultMap">
        select
          `id`, `name`
        from
          test1_user
    </select>
</mapper>